.gachaitem {
  display: grid;
  grid-template-columns: 1fr 110px;
  gap: 10px;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
}

.gachaitemincludesicon {
  grid-template-columns: 40px 1fr 110px;
  padding: 13px;
  background: var(--ranking-top-bg);
  border-radius: var(--border-radius);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 40px;
}

.btn button {
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.title {
  font-size: var(--text-md);
  font-weight: bold;
}

.preview {
  font-size: var(--text-sm);
}

.preview span {
  display: block;
  width: 180px;
  height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .gachaitem,
  .gachaitemincludesicon {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .icon {
    /* grid-column: 1 / 3 */
  }

  .preview + div {
    justify-content: center;
  }

  .preview span {
    width: 50vw;
    margin: 0 auto;
  }
}
