.gachaitem {
  display: grid;
  grid-template-columns: 1fr 110px;
  gap: 10px;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
}

.gachaitemincludesicon {
  grid-template-columns: 40px 1fr 110px;
  padding: 13px;
  background: #f3eac6;
  border-radius: var(--border-radius);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .gachaitem,
  .gachaitemincludesicon {
    grid-template-columns: 1fr;
  }

  .icon {
    /* grid-column: 1 / 3 */
  }
}

.icon svg {
  width: 40px;
}

.btn button {
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.title {
  font-size: var(--text-md);
  font-weight: bold;
  text-align: left;
}

.preview {
  font-size: var(--text-sm);
}
