@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&family=Poppins:wght@500;600&display=swap';

:root {
  /* Colors */
  --surface: #dae1ee;
  --secondary: #737373;
  --on-surface: #171926;
  --background: #fff;
  --text-on-color: #fff;
  --toggle-btn-color: var(--on-surface);
  --toggle-btn: #dfaf3e;
  --toggle-btn-bg: #d8d8d8;
  --default-btn-color: #9a0000;
  --primary-btn-bg: linear-gradient(45deg, #b51409 0%, #efae2d 50%, #46b4ab 100%);
  --secondary-btn-bg: linear-gradient(90deg, #efae2d 0%, #d9d9d9 100%);
  --text-link: var(--default-btn-color);
  --border: 2px solid var(--on-surface);
  --box-shadow-lg: 4px 4px 0 var(--on-surface);
  --box-shadow-sm: 2px 2px 0 var(--on-surface);
  --box-shadow-inset: inset 4px 4px 0 var(--on-surface);
  --box-shadow-inset-sm: inset 2px 2px 0 var(--on-surface);
  --border-radius: 8px;
  --border-radius-full: 625rem;

  /*  Text Styles */
  --text-sans-serif:
    poppins,
    -apple-system,
    'BlinkMacSystemFont',
    'Noto Sans JP',
    'Segoe UI',
    sans-serif;
  --text-xxs: 0.65rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-xxl: 2rem;

  /* Spaces */
  --space-0: 0;
  --space-7xs: 0.0625rem;
  --space-6xs: 0.125rem;
  --space-5xs: 0.25rem;
  --space-4s: 0.5rem;
  --space-3s: 0.75rem;
  --space-xxs: 1rem;
  --space-xs: 1.25rem;
  --space-sm: 1.5rem;
  --space-md: 2rem;
  --space-lg: 2.5rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
  --space-3xl: 5rem;
  --space-4xl: 6rem;
  --space-5xl: 7rem;
  --space-6xl: 8rem;

  /* Opacity */
  --opacity-0: 0;
  --opacity-25: 25%;
  --opacity-50: 50%;
  --opacity-75: 75%;
  --opacity-100: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --surface: #0c0c0f;
    --background: #171926;
    --secondary: #737373;
    --on-surface: #dae1ee;
    --text-on-color: #fff;
    --toggle-btn-color: #fff;
    --toggle-btn-bg: #3c3d42;
    --default-btn-color: #ff7070;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--text-sans-serif);
}

html {
  position: relative;
  font-family: var(--text-sans-serif);
  font-size: 16px;
  font-feature-settings: 'palt';
  color: var(--on-surface);
  background: var(--surface);
}

a {
  color: var(--text-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
