.tabheader {
  display: flex;
  flex-flow: row wrap;
  gap: 6px 20px;
  justify-content: center;
  padding: 5px 0;
}

@media screen and (max-width: 375px) {
  .tabheader {
    gap: 6px 8px;
  }
}

.item a {
  font-weight: bold;
  color: var(--on-surface);
  opacity: 0.5;
}

.active a {
  pointer-events: none;
  opacity: 1;
}

.item a:hover {
  text-decoration: none;
  opacity: 0.6;
}
